<!DOCTYPE html>
<html lang="en">
    <%- include("../partials/head.ejs") %>
<body>
    <%- include("../partials/header.ejs") %>
    <main>
        <div>
            <form action="/animal" method="POST">
                <fieldset>
                    <legend>Add a new Animal</legend>
                    <label>Species: <input type="text" name="species" placeholder="Enter Animal Name"/></label>
                    <label>Location: <input type="text" name="location" placeholder="Enter Location"/></label>
                    <label>Life Expectancy: <input type="text" name="lifeExpectancy"/></label>
                    <label>Extinct: <input type="checkbox" name="Extinct"/></label>
                    
                    <input type="submit" value="Add Animal"/>
                </fieldset>
            </form>
        </div>

    </main>
</body>
</html>